/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  display: grid;
  gap: 100px;
  align-items: center;
  justify-content: center;
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--variable-font, sans-serif);
  font-variation-settings: "wght" var(--font-wght, 400);
  background-image: var(--background-gardient);
  background-attachment: fixed;
  background-size: cover;
  color: var(--themes-main-color, #000000);
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  inline-size: clamp(375px, 30.52vw + 260.56px, 700px);
  border: 2px solid var(--themes-main-color, #000000);
  background-color: var(--bg-color, #ffffff);
  margin-block-start: 98px;
  padding-block-start: 122px;
  padding-block-end: 122px;
}

.header_title {
  font-family: var(--acent-font, fantasy);
  font-weight: var(--font-wght, 400);
  text-transform: uppercase;
  font-size: clamp(49px, 1.43vw + 44.43px, 65px);
}

.header_paragraph {
  font-family: var(--acent-font, fantasy);
  font-weight: var(--font-wght, 400);
  font-size: clamp(14px, 0.8vw + 11.43px, 23px);
  text-transform: uppercase;
}

.main {
  display: grid;
  place-items: center;
  gap: 3.23em;
}

.card {
  inline-size: clamp(375px, 30.52vw + 260.56px, 700px);
  border: 2px solid var(--themes-main-color, #000000);
  background-color: var(--bg-color, #ffffff);
  display: grid;
  place-content: center;
}

.card_title {
  font-family: var(--variable-font, sans-serif);
  font-variation-settings: "wght" 700;
  font-size: 18px;
  color: var(--themes-main-color, #000000);
  padding: 4px 10px;
}

.card_image_box {
  position: relative;
  inline-size: 100%;
  border-top: 2px solid var(--themes-main-color, #000000);
  border-bottom: 2px solid var(--themes-main-color, #000000);
}

.card_img {
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
  display: block;
}

.card_label {
  position: absolute;
  top: 25px;
  right: 25px;
  opacity: 0.5;
  mix-blend-mode: hard-light;
  color: var(--themes-main-color, #000000);
  z-index: 1;
}

.card_label_text {
  font-family: var(--acent-font, fantasy);
  font-weight: var(--font-wght, 400);
  font-size: 14px;
  text-transform: uppercase;
  text-shadow: -1px 0 var(--bg-color), 0 1px var(--bg-color, #ffffff),
    1px 0 var(--bg-color), 0 -1px var(--bg-color, #ffffff);
}

@supports (text-stroke: 1px var(--bg-color, #ffffff)) or
  (-webkit-text-stroke: 1px var(--bg-color, #ffffff)) {
  .card_label_text {
    -webkit-text-stroke: 1px var(--bg-color, #ffffff);
    text-stroke: 1px var(--bg-color, #ffffff);
    text-shadow: none;
  }
}

.card_content {
  padding: 22px 26px;
  display: grid;
  gap: 24px;
  inline-size: 100%;
}

.card_content p {
  font-family: var(--variable-font, sans-serif);
  font-variation-settings: "wght" 400;
  font-size: 18px;
  line-height: 21px;
  color: var(--themes-main-color, #000000);
}

.card_controls {
  justify-self: end;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1px;
}

.button {
  background-color: var(--bg-color, #ffffff);
  font-family: var(--acent-font, fantasy);
  border: 2px solid var(--themes-main-color, #000000);
  font-variation-settings: "wght" 400;
  font-size: 14px;
  color: #ffffff;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.button span {
  position: relative;
  z-index: 2;
  mix-blend-mode: difference;
}

.button svg,
.floppy_modal svg {
  mix-blend-mode: difference;
}

.button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000000;
  transform: translate(-110%, -20%);
  transition: transform 0.5s ease-in-out;
  z-index: -1;
}

.button_like {
  inline-size: 130px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.75em 0.9375em;
}

.button_heart {
  border: 2px solid transparent;
  background-color: var(--bg-color, #ffffff);
}

.button_heart svg {
  display: flex;
  align-items: center;
  justify-content: center;
}

.button_heart:focus {
  outline: none;
}

.button_heart:focus-visible {
  border: 2px solid var(--themes-main-color, #000000);
  transition: border 0.3s ease;
}

.button:hover {
  cursor: pointer;
}

.button:hover::before {
  transform: translate(0, 0);
}

.button:focus {
  outline: none;
  box-shadow: 2px 2px 0 0 #000000;
  transition: box-shadow 0.3s ease;
}

.button_save {
  margin-bottom: 100px;
  padding: 15px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.button_save svg {
  width: 28px;
  height: 28px;
}

.brightness_filter {
  filter: brightness(200%);
}

.contrast_filter {
  filter: contrast(50%);
}

.blur_filter {
  filter: blur(10px);
}

.opacity_filter {
  filter: opacity(0.8);
}

.grayscale_filter {
  filter: grayscale(0.8);
}

.sepia_filter {
  filter: sepia(80%);
}

.hue-rotate_filter {
  filter: hue-rotate(-90deg);
}

.multi_filter {
  filter: invert(0.7) sepia(80%) blur(3px);
}

.floppy_modal {
  inline-size: 341px;
  border: 2px solid #000000;
  background-color: var(--bg-color, #ffffff);
  padding: 30px 40px;
  font-family: var(--acent-font, fantasy);
  font-weight: var(--font-wght, 400);
  font-size: 14px;
  line-height: 150%;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.floppy_modal:not([open]) {
  display: none;
}

.floppy_modal svg {
  width: 39px;
  height: 39px;
}

.floppy_modal_content {
  display: grid;
  grid-template-columns: min-content 1fr;
  gap: 20px;
  min-inline-size: 261px;
  max-inline-size: 293px;
  align-items: center;
  margin-bottom: 30px;
}

.floppy_modal button {
  padding: 9px 17px;
  text-transform: uppercase;
  min-inline-size: 265px;
  max-inline-size: 293px;
  border: 2px solid #000000;
}

.floppy_modal::backdrop {
  background: rgba(0, 0, 0, 0.75);
}

.sparks {
  opacity: 0;
}

.contour {
  transition: fill 0.1s linear;
}

.core {
  transition: fill 0.03s linear 0.03s;
}

.main-body {
  transition: fill 0.3s linear;
}

.button_heart:hover .core {
  fill: #000;
  transition: fill 0.03s linear;
}

.button_heart:hover .main-body {
  fill: #000;
  transition: fill 0.3s linear 0.05s;
}

.button_heart:active .core {
  fill: var(--animation-fill-color);
  transition: fill 0.03s linear;
}

.button_heart:active .main-body {
  fill: var(--animation-fill-color);
  transition: fill 0.3s linear 0.05s;
}

.like-icon.is-liked .contour {
  fill: var(--animation-fill-color);
  transition: fill 0.3s linear 0.06s;
}

.like-icon.is-liked .main-body {
  fill: var(--animation-fill-color);
  transition: fill 0.3s linear 0.05s;
}

.like-icon.is-liked .core {
  fill: var(--animation-fill-color);
  transition: fill 0.3s linear;
}

.like-icon.is-liked {
  animation: heart-scale 0.3s ease-in 0.1s forwards;
  transform-origin: center center;
}

.like-icon.is-liked .sparks {
  animation: sparks-blink 0.3s ease-in 0.3s forwards;
}

.like-icon {
  transform-origin: center;
}

@media (width >= 376px) {
  .button_save {
    flex-direction: row;
  }

  .header {
    padding-block-start: 130px;
    padding-block-end: 128px;
  }

  .button_save svg {
    width: 21px;
    height: 21px;
  }

  .floppy_modal {
    inline-size: 353px;
  }

  .card_content {
    gap: 24px;
    padding: 20px 27px;
  }

  .main {
    gap: 3.289em;
  }

  .floppy_modal {
    inline-size: 353px;
    overflow: hidden;
  }

  .floppy_modal_content,
  .floppy_modal button {
    inline-size: 293px;
  }
}
