/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */

:root {
  --bg-color: #ffffff;
  --themes-main-color: #000000;
  --variable-font: Inter;
  --acent-font: PressStart2P;
  --font-wght: 400;
  --background-gardient:
    repeating-linear-gradient(90deg, #d3d3d3 0 2px, transparent 2px 4px),
    repeating-linear-gradient(180deg, #d3d3d3 0 2px, transparent 2px 4px),
    linear-gradient(180deg, #E7E7E7 0.1%, #1A1A1A 100%);
  --heart-contour: #000000;   
  --animation-fill-color: red;
}